* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}

body {
    background-color: #fff;
}

header {
    position: sticky;
    top: 0;
    background-color: white;
    border-bottom: 4px solid #222;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10px;
    z-index: 1000;
}

.logo {
    padding-left: 20px;
    width: 220px;
    height: 65px;
}

nav a {
    margin: 0 10px;
    text-decoration: none;
    color: black;
    font-size: 17px;
    font-weight: bold;
}

.profile {
    height: 32px;
    vertical-align: middle;
    /* margin-left: 15px; */
}

.profile-icon a:hover {
    color: rgb(248, 198, 33);
    background-color: transparent;
}

main {
    padding: 100px 30px 80px;
    text-align: center;
}

main h1 {
    margin-bottom: 20px;
    font-size: 28px;
}

.deskripsi {
    padding-bottom: 30px;
    font-size: 20px;
}

footer {
    margin-top: 80px;
    border-top: 3px solid orange;
    padding: 30px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.footer-center p {
    margin-bottom: 10px;
    font-size: 16px;
}

.footer-center .social-icons {
    margin-bottom: 15px;
}

.footer-center a {
    margin: 0 10px;
    color: black;
    font-size: 18px;
}

.footer-center .copyright {
    font-size: 14px;
    color: #666;
    margin-top: 10px;
}

.footer-right {
    display: none; /* Sembunyikan bagian kanan */
}